/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

svg{
  border: 1px solid black;
}

@-webkit-keyframes rotate {
    from{ -webkit-transform: rotate(0deg); }
    to{ -webkit-transform: rotate(360deg); }
}

.enemy{
  -webkit-animation-name: rotate;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.player{
}